<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="gps tracker">
    <meta name="author" content="daegi.jeong">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>

    <!-- note : font-awesome-->
    <script src="https://use.fontawesome.com/b909540812.js"></script>

    <!--favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!--Google Map-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDI1Y398iX5bI_2lMFJ_d6WEex0vpwDNgI" async defer>
    </script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="javascripts/jquery.jsonrpc.js"></script>
    <script type="text/javascript" src='javascripts/index_script.js'></script>
    <script>
        var marker;
        var map;
        /*note: Index Document.Ready function*/
    </script>
    <% function getTimeStamp(_time) {
        var d = new Date(_time);
        var s =
        leadingZeros(d.getFullYear(), 4) + '-' +
        leadingZeros(d.getMonth() + 1, 2) + '-' +
        leadingZeros(d.getDate(), 2) + ' ' +

        leadingZeros(d.getHours(), 2) + ':' +
        leadingZeros(d.getMinutes(), 2) + ':' +
        leadingZeros(d.getSeconds(), 2);

        return s;
    }
    function leadingZeros(n, digits) {
        var zero = '';
        n = n.toString();

        if (n.length < digits) {
            for (i = 0; i < digits - n.length; i++)
                zero += '0';
        }
        return zero + n;
    }
    %>
</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
                <!--note:상단 메뉴-->
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="/map">Map</a></li>
                    <li role="presentation"><a href="/log">Log</a></li>
                    <!--future:개발완료 후 삭제-->
                    <li role="presentation"><a href="/test">Test</a></li>
                </ul>
            </nav>
            <h3 class="text-muted"><b>GPS Tracker</b></h3>
        </div>

        <div class="jumbotron">
            <h2><b><i class="fa fa-compass" aria-hidden="true"></i> You are here !</b></h2>
            <div class="inner_list">
                <ul>

                    <!--todo: 초기화값으로 수정-->
                    <li id="userLocationDesc"></li>
                    <li id="mapUpdatedTime">Last Updated :
                        <%= getTimeStamp(data[0].timestamp)%>
                    </li>
                </ul>
            </div>

            <div id="map"></div>
            <div id="btnStaticMapRefresh">
                <button class="btn btn-info" href="#" role="button" onclick="javascript:refreshMap()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
            </div>
        </div>



        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Device Status</h4>
                <p id="dStatus_val">
                    <%=data[0].status_device%>
                </p>

                <h4>GPS Status</h4>
                <p id="gStatus_val">
                    <%=data[0].status_gps%>
                </p>

                <h4>GPS Mode</h4>
                <p id="gMod_val">
                    <%=data[0].gps_mode%>
                </p>
            </div>

            <div class="col-lg-6">
                <h4>Latitude</h4>
                <p id="lat_val">
                    <%=data[0].lat%>
                </p>

                <h4>Longitude</h4>
                <p id="lng_val">
                    <%=data[0].lng%>
                </p>

                <h4>Altitude</h4>
                <p id="alt_val">
                    <%=data[0].alt%> M</p>
            </div>
        </div>

        <footer class="footer">
            <p>Daegi Jeong</p>
        </footer>

    </div>

    <!-- /container -->
</body>

</html>
