<!DOCTYPE html>
<html>
<!--note:최근 10개의 gps 정보를 가져와 지도에 표시-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="gps tracker">
    <meta name="author" content="daegi.jeong">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>

    <!-- note : font-awesome-->
    <script src="https://use.fontawesome.com/b909540812.js"></script>
    <script type="text/javascript" src="javascripts/log_script.js"></script>

    <!--favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!--data table cdn-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script>
        <%
        function lz(num){
            var ret='0';
            if(num<10) {
                ret += num;
            }else{
                ret = num;
            }
            return ret;
        }

        function dFormat(_time){
            var d = new Date(_time);
            var year = d.getFullYear();
            var month = (d.getMonth()+1);
            var date = d.getDate();
            var hour = d.getHours();
            var min = d.getMinutes();
            var sec = d.getSeconds();
            var result = year+'-'+lz(month)+'-'+lz(date)+' '+lz(hour)+':'+lz(min)+':'+lz(sec);
            console.log('table draw');
            return result;
        }
    %>
    </script>
</head>

<body>

    <div class="container">
        <!--상단 메뉴-->
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/map">Map</a></li>
                    <li role="presentation" class="active"><a href="/log">Log</a></li>
                    <!--future:개발완료 후 삭제-->
                    <li role="presentation"><a href="/test">Test</a></li>
                </ul>
            </nav>
            <h3 class="text-muted"><b>GPS Tracker</b></h3>
        </div>
        <div class="jumbotron">
            <h2><b><i class="fa fa-history" aria-hidden="true"></i> Log page</b></h2>
            <p style="font-size:10pt"><li>Device 관련 로그가 저장됩니다.</p>
            <div id="map"></div>
        </div>
        <div>
            <table id="table" class="table table-hover table-sm">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Time</th>
                        <th>Title</th>
                        <th hidden>Contents</th>
                        <th>Detail</th>
                    </tr>
                </thead>


                <tbody id="tbody">
                    <%
                for(var i=0; i < data.length; i++){
                    //var idx = data[i].idx;
                    var time = dFormat(data[i].timestamp);
                    var logTitle = data[i].title;
                    var log = data[i].log;
                %>
                        <tr>
                            <!--<td><%= //idx %></td>-->
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= time %>
                            </td>
                            <td id="row<%=i%>_title">
                                <%= logTitle %>
                            </td>
                            <td hidden id="row<%=i%>_msg">
                                <%=log%>
                            </td>
                            <td><button data-toggle="modal" data-target="#myModal" class="btn btn-xs btn-secondary" id="showDetail<%=i%>" onclick="javascript:showDetail('row<%=i%>')">Detail</button></td>

                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

        <footer class="footer">
            <p>Daegi Jeong</p>
        </footer>
    </div>
    <!-- /container -->


    <!--modal-->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modal_LogTitle"></h4>
                </div>
                <div class="modal-body">
                    <p id="modal_LogMsg"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
